input[type=number], select {
  width: 27%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}



.lable{

  font-size: 18px;
  margin-bottom: 3px;
  margin-top: 3px;
  
  font-family: "Lucida Console", Courier, monospace;
}

.botone{
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
 
}
.botone:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.botone:active {
	position:relative;
	top:1px;
}

#cuerpo{
  
    position: absolute;
  width: 500px;
  height:auto;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -270px;
  background: #72c2d4;
  border-radius: 10px;
  
 
}
#mru, #mruv, #caida,  #tirov{
    width:97%;
    float:left;
    }
.boton{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.boton span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.boton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .boton:hover span {
    padding-right: 25px;
  }
  .boton:hover span:after {
    opacity: 1;
    right: 0;
}

/*dialog[open] {
  position: fixed;
  width: 50%;
  max-width: 750px;
  top: 10px;
  
}*/

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}



#DialogoNotificacion{
  position: fixed;
  width: 50%;
  max-width: 750px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
    
  z-index: 100;
  border-radius: 10%;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;


}


.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create custom radio */
.radio .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
  border: 2px solid #f4511e;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
  background-color: #f4511e;
  border:none;
}

/* create the radio and hide when not checked */
/*.radio .check:after {
  content: "";
  position: absolute;
  display: none;
}*/
/*
/* show the radio when checked */
.radio input:checked ~ .check:after {
  display: block;
}*/

/* radio style */
.radio .check:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
